/*Common style*/

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;

    padding: 20px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #9ec0db;
    background-size: 100%;
}


.text-title {
    font-weight: 700;
    margin-bottom: 8px;
}