<main class="main">

    <div class="logotype">
        <img src="images/logotype.svg" alt="Logotype Icon">
    </div>

    <div class="mail-bar">
        <div class="mail-bar__image-wrap">
            <img src="images/envelope.svg" alt="Envelope Icon">
        </div>
        <div class="mail-bar__text-wrap">
            <p class="text-title">Пишите нам на почту</p>
            <a href="pochta@mail.ru">pochta@mail.ru</a>
        </div>
    </div>

    <div class="social-bar">
        <a href="https://t.me/mcsonex/" target="_blank"><img class="icon" src="images/telegram.svg" alt="Telegram Icon"></a>
        <a href="https://vk.com/club208364472/" target="_blank"><img class="icon" src="images/vk.svg" alt="Vkontakte Icon"></a>
        <a href="https://ok.ru/profile/577610047049/" target="_blank"><img class="icon" src="images/ok.svg" alt="Odnoklassniki Icon"></a>
    </div>

    <div class="map">
        <p class="text-title">Приезжайте</p>
        <p>ст. Калининская, ул. Ленина, 140А</p>
        <iframe
            src="https://yandex.ru/map-widget/v1/?um=constructor%3A7b0c2dc4636b26aab7b85364c8804d91fff63528209ac732ccba5d19fc567130&amp;source=constructor">
        </iframe>
    </div>

</main>